.LogInPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #EDEDED;
    text-align: center;
}
  .whiteBoxLogin {
            background-color: #FFFFFF;
            border-radius: 30px; 
            box-shadow: 0px 4px 6px #9F9F9F;
            flex-wrap: wrap;
            box-sizing: border-box;
            padding : 20px 20px;
            margin: 13px;
            text-align: start;
            width: 580px;
        }

        .subTitle {
            font-weight: 600;
            font-size: 24px;
            color: #000000;
        }

        .underSubtitle {
            font-weight: lighter;
            font-size: 20px;
            color: #525252;
            margin-bottom: 10px;
        }
        .forgotPassword{
            font-size: 14px;
            color: #1C398E;
            margin-top: 20px;
            cursor: pointer;
            text-align: right;
        }
        .hr{
            margin-top: 30px;
            width: 100%;
            border: 1.5px solid #A6A6A6;
            margin-left: 0px;
        }
        .LogInPageInputsContainer {
            display:flex;
            flex-direction: column;
        }
          